/* Irfan Nada Bayu Samudera */

/* Import Font */
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/4215-font.otf);
  font-weight: 300;
}

/* Body */

body {
  font-family: Helvetica;
  font-size: 14px;

  color: black !important;
}
p {
  font-family: "Helvetica Light";
  font-weight: 300;
}
.helvetica400 {
  font-family: "Helvetica";
  font-weight: 400;
}
.fifth-card-text {
  padding-left: 22.9vw;
  padding-right: 22.9vw;
}
.container {
  overflow-x: hidden;
}
/* Navbar */
.navbar-bcr {
  padding-top: 25px;
  background-color: #f1f3ff;
  z-index: 3;
}
.nav-item .nav-link {
  margin-left: 16px;
  margin-right: 16px;
}
.container-nav {
  padding: 0px;
  max-width: 100%;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200mx linear;
}

/* Whole Page */
.btn-success {
  background-color: #5cb85f;
  border: none;
  font-size: 14px;
}
.page-landing {
  margin-top: 75px;
  max-width: 100%;
}
.delete-padding {
  padding: 0px !important;
}
h1 {
  font-weight: 700;
  font-size: 36px;
}
.row {
  --bs-gutter-x: 0;
}
.mt-16 {
  margin-top: 16px;
}
.container {
  max-width: 100%;
}
.container-hasilcari {
  margin-left: 13.64vw;
  margin-right: 13.64vw;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
.nav-link {
  font-weight: 400 !important;
  color: #000 !important;
}

/* Section Main */
.main {
  background-color: #f1f3ff;
  width: 100%;
  min-height: 266px;
  padding-top: 37px;
}

.main-left {
  margin-top: 90px;
}

.bgimg {
  padding-top: 150px;
}

/* Second Section */
.img-service {
  margin-top: 105px;
}

.second-desc {
  margin-left: auto;
  margin-top: 136px;
}
.second-desc-head {
  margin-bottom: 24px;
}
.second-desc-sub {
  margin-bottom: 18px;
}
.second-desc-item {
  margin-bottom: 20px;
}
.second-desc-item-p {
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* Third Section */
.third {
  margin-top: 100px;
}

.third-card-item {
  width: 265px;
  height: 196px;
  border-radius: 8px;
  margin-top: 40px;
  margin-right: auto;
}
.third-card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0px !important;
}

/* Fourth Section */
.fourth {
  margin-top: 100px;
}
.fourth-sub {
  margin-bottom: 40px !important;
}
.fourth-carousel-padding {
  padding-left: 10px;
  padding-right: 10px;
}
.holder {
  border: 0.5px solid #c4c4c4 !important;
  border-radius: 60px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.holder:hover {
  background-color: green;
}
.arrow-carousel {
  width: 7px;
  height: 12px;
}
.holder:hover > .arrow-carousel {
  filter: invert(100%) sepia(4%) saturate(16%) hue-rotate(112deg)
    brightness(107%) contrast(104%);
}
/* Carousel */
.carousel,
.carousel-innr,
.carousel-inner > .carousel-item {
  overflow: hidden;
}
.carousel-inner > .carousel-item.active,
.carousel-inner > .carousel-item-next,
.carousel-item-prev {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel-item.active {
  align-content: center;
}
.carousel-inner:before {
  position: relative;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  content: "";
  display: block;
  background-color: #fff;
}
.carousel-inner:after {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  content: "";
  display: block;
  background-color: #fff;
}

.card-custom {
  width: 620px;
  height: 270px;
  background-color: #f1f3ff;
}
.testi-content {
  text-align: left !important;
}

/* Section Fourth */
.fourth-carousel-button {
  border: none;
  background-color: #fff;
}

/* Section Fifth */

.fifth-card-content {
  background-color: #0d28a6;
  color: white;
  margin-top: 100px;
  height: 326px;
  border-radius: 13px !important;
}
.fifth-card-title {
  margin-top: 48px;
  font-weight: 700;
}
.fifth-card-text {
  margin-top: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
.fifth-btn {
  margin-top: 52px;
}

/* Section Sixth */
.sixth {
  margin-top: 104px;
}

.sixth-faq-title {
  margin-right: 132px;
}
.faq-h2 {
  margin-top: 104px;
}
.accordion-button {
  border: 1px solid #d4d4d4;
  border-radius: 4px !important;
}

/* Footer */
footer {
  margin-top: 150px;
  margin-bottom: 100px;
}
.footer-img-socmed {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* W3school Sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}
.incativeSideBG {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 0px;
  margin-top: -15px !important;
}

.card-cari {
  width: 1047px;
  /* height: 106px; */
  margin-top: -50px;
  z-index: 2;
}
.button-cari {
  width: 92px !important;
  margin-top: 30px;
  height: 36px;
}
.activeCari {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 34px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* For Screen With Width 768px and Up */
@media (min-width: 768px) {
  .ms-md-11,
  .ml-md-11 {
    margin-left: 136px !important;
  }
  .ms-md-11,
  .mr-md-11 {
    margin-right: 136px !important;
  }
  .ps-md-11,
  .pl-md-11 {
    padding-left: 136px !important;
  }
  .ps-md-11,
  .pr-md-11 {
    padding-right: 136px !important;
  }
  .pr-md-12 {
    margin-right: 207px !important;
  }
  .pl-md-14 {
    padding-left: 86px !important;
  }
}

/* For Screen With Width 767px and Below */
@media (max-width: 767px) {
  .ms-13 {
    text-align: center;
  }
  .third-card-item {
    margin-right: 5px;
    margin-left: 5px;
  }
  .card-custom {
    width: 91vw !important;
    height: 372px;
    background-color: #f1f3ff;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding-left: auto;
    padding-right: auto;
  }
  .img-small {
    margin-left: auto;
    margin-right: auto;
  }
  .fourth-carousel-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .testi-content {
    text-align: center !important;
  }
  .testi-content p,
  h5 {
    text-align: left !important;
    font-size: 14px;
  }
  .testi-content p {
    font-weight: 300 !important;
  }
  .testi-content h5 {
    font-family: "Helvetica";
    font-weight: 400 !important;
  }

  .fifth-card {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .fifth-card-title {
    margin-top: 0px;
    font-weight: 700;
  }
  .card {
    /* width: 100%; */
  }
  .second-desc {
    margin-top: 20px;
  }
  .img-service {
    width: 60vw;
    margin-bottom: 24px;
  }
  .second-desc {
    margin-top: 0px;
  }
  .img-1200 {
    max-width: 95vw;
  }
  .fifth-card-content {
    padding: 48px 42px;
  }

  .fifth-card-title {
    font-size: 24px;
    line-height: 36px;
  }
  .main-left {
    margin-top: 0px;
  }
  footer {
    margin-top: 77px;
  }
  .mt-40px {
    margin-top: 40px !important;
  }
  .testi-content .card-text {
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px !important;
  }
  .testi-content div {
    margin-top: 8px !important;
  }
  .fourth {
    margin-top: 77px;
  }
  .third-card-item {
    margin-top: 24px;
  }
  .third {
    margin-top: 77px;
  }
  .fifth-card {
    margin-top: 77px !important;
  }
  .faq-h2 {
    margin-top: 77px !important;
  }
  .smalllr-1rem {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .img-service {
    margin-top: 77px !important;
  }
  .card-body-whyus {
    padding: 24px;
  }
  .martop0 {
    margin-top: 0px !important;
  }
  .fifth-btn {
    margin-top: 32px;
  }
}

/* For Screen With Width 991px and Below */
@media (max-width: 991px) {
  .pl-md-14 {
    padding-left: 0px !important;
  }
  .toggler-custom {
    margin-right: 10px;
  }
  .collapse-custom {
    margin-top: 25px;
    position: absolute;
    background-color: white;
    width: 70%;
    left: 15%;
    right: 15%;
  }
  .sm-mid {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
  .fifth-card-content {
    min-height: 400px !important;
    margin-top: 0px;
    overflow: hidden;
  }
  .fifth-card {
    margin-top: 100px;
  }
  .btn-responsive {
    width: 81px;
    margin-left: 16px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 36px;
  }
  .side-logo {
    font-weight: 700 !important;
  }
  .bgimg {
    padding-top: 140px !important;
    padding-left: 16px;
  }
  .img-1200 {
    margin-top: 24px;
  }
  .third-card-item {
    width: 90vw !important;
  }
  .fifth-card-text {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .ms-13 {
    text-align: center;
  }
}

@media (min-width: 991px) {
  .pl-md-14 {
    padding-left: 0px !important;
  }
  .toggler-custom {
    display: none;
  }
  .sidenav {
    display: none;
  }
  .footer-2 {
    padding-left: 6vw;
  }
  .sixth-accordion-sm {
    margin-top: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .img-1200 {
    max-width: 50vw;
  }
  .img-12002 {
    max-width: 30vw;
  }
}
@media (max-width: 420px) {
  .img-service {
    width: 252px;
  }
  .bgimg {
    padding-top: 100px !important;
  }
}
